# Build directories
Build/
out/
build/

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdx
*.elf

# macOS specific
.DS_Store

# Visual Studio Code
.vscode/

# Temporary files
*.tmp
*.log

# Playdate Simulator files
*.pdx.sim

# Backup files
*~
*.bak

# IDE-specific files
*.suo
*.user
*.userosscache
*.sln.docstates